---
const { title, description, image, github, link } = Astro.props;
import Link from "@/components/icons/Link.astro";
---

<article class="bg-primary text-background p-5 rounded-sm h-full">
  {
    image && (
      <div class="h-49 w-full mb-5">
        <img
          src={image}
          alt={title}
          class="w-full h-full object-cover rounded-sm"
        />
      </div>
    )
  }

  <h2 class="text-2xl font-semibold">{title}</h2>
  <p class="pt-2 text-background/95 max-w-[80%] block">{description}</p>
  <div class="flex items-center gap-5 justify-end pt-5">
    {
      github && (
        <a
          href={github}
          class="text-background/60 hover:text-background/90 transition-colors flex items-center justify-center"
          target="_blank"
          rel="noopener noreferrer">
          GitHub
          <Link className="ml-1 h-4 w-4" />
        </a>
      )
    }
    {
      link && (
        <a
          href={link}
          class="text-background/60 hover:text-background/90 transition-colors flex items-center justify-center"
          target="_blank"
          rel="noopener noreferrer">
          Website
          <Link className="ml-1 h-4 w-4" />
        </a>
      )
    }
  </div>
</article>
