---
import "@fontsource/miriam-libre";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Luca Di Marco's portfolio showcasing web development projects and skills"
    />
    <meta
      name="keywords"
      content="Luca Di Marco, web developer, portfolio, front-end, back-end, projects"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dot-tsu.github.io/" />
    <meta property="og:title" content="Luca Di Marco - Developer Portfolio" />
    <meta
      property="og:description"
      content="Luca Di Marco's portfolio showcasing web development projects and skills"
    />
    <meta
      property="og:image"
      content="https://www.dot-tsu.github.io/favicon.ico"
    />

    <title>Luca Di Marco - Developer Portfolio</title>
  </head>
  <body class="text-primary bg-background cursor-none scroll-smooth">
    <Navbar />
    <main class="mt-[100px] lg:mt-0 lg:ml-[250px] p-5 relative flex flex-col">
      <slot />
    </main>
    <Footer />
    <div id="cursor-border" class="w-12 h-12 hidden lg:block"></div>
    <div id="cursor-dot" class="w-2 h-2 hidden lg:block"></div>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  #cursor-dot,
  #cursor-border {
    @apply bg-background mix-blend-difference fixed rounded-full pointer-events-none z-50;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  const cursorBorder = document.getElementById("cursor-border");
  const cursorDot = document.getElementById("cursor-dot");

  document.addEventListener("mousemove", (event) => {
    if (cursorBorder && cursorDot) {
      cursorDot.style.left = `${event.clientX}px`;
      cursorDot.style.top = `${event.clientY}px`;

      cursorBorder.animate(
        {
          left: `${event.clientX}px`,
          top: `${event.clientY}px`,
        },
        {
          duration: 1000,
          fill: "both",
        }
      );
    }
  });
</script>
